@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist";
    outline: 2px solid red;

}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 109, 119);
}

.main-container{
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-container h1{
    padding: 20px 0px;
    color: white;
    font-weight: 900;
}

.main-container h1 span{
    color: orange;
}

.main-container .statusText{
    padding: 20px 0px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/* From Uiverse.io by Z4drus */ 
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .button-3d {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px;
    min-width: 4em;
    min-height: 4em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
  }
  
  .button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    transform: translateY(0);
    color: #fff;
    background-image: linear-gradient(145deg, #6a11cb, #2575fc);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 0.3s, border-radius 0.3s, background 10s;
  }
  
  .button-3d:active .button-top {
    border-radius: 10px 10px 8px 8px / 8px;
    transform: translateY(2px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
  }
  
  .button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    border-radius: 20px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    background-image: linear-gradient(145deg, #2575fc, #6a11cb);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    transition: border-radius 0.2s, padding-top 0.2s;
  }
  
  .button-base {
    position: absolute;
    z-index: 0;
    top: 4px;
    left: 0;
    border-radius: 20px;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
      inset 0 2px 2px rgba(0, 0, 0, 0.25);
    transition: border-radius 0.2s, padding-top 0.2s;
  }
  
  .button-3d:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
  }
  
  .button-3d:active .button-base {
    border-radius: 10px 10px 8px 8px / 8px;
  }
  

.main-container .game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

.game-container .grid-cell{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    display: grid;
    place-items: center;
}

.grid-cell .fa-xmark{
    color: white;
    font-size: 6rem;
    display: none;
    transition: 1.5s;    
}

.grid-cell .fa-o{
    color: orange;
    font-size: 6rem;
    display: none;
    transition: 1.5s;
}

.next-move .fa-o {
    display: block;
}

.grid-cell .remove-first-move {
    display: none;
}